@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">MODULO DE ASIGNACION</h1>
        <p class="lead">APLICACION DE INGRESOS GASTOS MI HERMANO.</p>

    </section>

</main>

    <div class="row">
        <a href="@Url.Action("Index","IngresoGastos")" class="btn btn-primary">ir a Ingresos Gastos</a>
    </div>
